/**
 * Toolbar tab icon.
 */
.toolbar-bar .toolbar-icon-edit:before {
  background-image: url(/core/misc/icons/bebebe/pencil.svg);
}
.toolbar-bar .toolbar-icon-edit:active:before,
.toolbar-bar .toolbar-icon-edit.is-active:before {
  background-image: url(/core/misc/icons/ffffff/pencil.svg);
}
/* Tab appearance. */
.toolbar .toolbar-bar .edit-toolbar-tab.toolbar-tab {
  float: right; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-bar .edit-toolbar-tab.toolbar-tab {
  float: left;
}
